
.flair-logo {background-position: 0px 0px}
.flair-stanlee {background-position: -100px 0px}
.flair-absorbingman {background-position: -200px 0px}
.flair-adamwarlock {background-position: -300px 0px}
.flair-agentvenom {background-position: -400px 0px}
.flair-amadeuscho {background-position: -500px 0px}
.flair-americachavez {background-position: -600px 0px}
.flair-ancientone {background-position: -700px 0px}
.flair-angel {background-position: -800px 0px}
.flair-angela {background-position: -900px 0px}
.flair-antiman {background-position: -1000px 0px}
.flair-antman-t2 {background-position: -1100px 0px}
.flair-antman-t3 {background-position: -1100px -128px}
.flair-apocalypse-t2 {background-position: -1200px 0px}
.flair-apocalypse-t3 {background-position: -1200px -128px}
.flair-arachknight {background-position: -1300px 0px}
.flair-mordo {background-position: -1400px 0px}
.flair-beast {background-position: -1500px 0px}
.flair-blackbolt-t2 {background-position: -1600px 0px}
.flair-blackbolt-t3 {background-position: -1600px -128px}
.flair-blackcat {background-position: -1700px 0px}
.flair-blackdwarf {background-position: -1800px 0px}
.flair-blackpanther-t2 {background-position: -1900px 0px}
.flair-blackpanther-t3 {background-position: -1900px -128px}
.flair-blackwidow-t2 {background-position: -2000px 0px}
.flair-blackwidow-t3 {background-position: -2000px -128px}
.flair-blade {background-position: -2100px 0px}
.flair-bluemarvel {background-position: -2200px 0px}
.flair-bullseye {background-position: -2300px 0px}
.flair-cable-t2 {background-position: -2400px 0px}
.flair-cable-t3 {background-position: -2400px 0px}
.flair-captainamerica-t2 {background-position: -2500px 0px}
.flair-captainamerica-t3 {background-position: -2500px -128px}
.flair-captainmarvel-t2 {background-position: -2600px 0px}
.flair-captainmarvel-t3 {background-position: -2600px -128px}
.flair-carnage {background-position: -2700px 0px}
.flair-clea {background-position: -2800px 0px}
.flair-colossus {background-position: -2900px 0px}
.flair-corvusglaive {background-position: -3000px 0px}
.flair-crescent-t2 {background-position: -3100px 0px}
.flair-crescent-t3 {background-position: -3100px -128px}
.flair-crossbones {background-position: -3200px 0px}
.flair-crystal {background-position: -3300px 0px}
.flair-cyclops-t2 {background-position: -3400px 0px}
.flair-cyclops-t3 {background-position: -3400px -128px}
.flair-daisy {background-position: -3500px 0px}
.flair-daredevil {background-position: -3600px 0px}
.flair-deadpool-t2 {background-position: -3700px 0px}
.flair-deadpool-t3 {background-position: -3700px -128px}
.flair-deathlok {background-position: -3800px 0px}
.flair-destroyer {background-position: -3900px 0px}
.flair-doctordoom {background-position: -4000px 0px}
.flair-doctoroctopus {background-position: -4100px 0px}
.flair-drstrange-t2 {background-position: -4200px 0px}
.flair-drstrange-t3 {background-position: -4200px -128px}
.flair-domino {background-position: -4300px 0px}
.flair-dormammu {background-position: -4400px 0px}
.flair-drax {background-position: -4500px 0px}
.flair-ebonymaw {background-position: -4600px 0px}
.flair-elektra {background-position: -4700px 0px}
.flair-elsabloodstone {background-position: -4800px 0px}
.flair-emmafrost {background-position: -4900px 0px}
.flair-enchantress {background-position: -5000px 0px}
.flair-falcon {background-position: -5100px 0px}
.flair-fandral {background-position: -5200px 0px}
.flair-fantomex {background-position: -5300px 0px}
.flair-gambit {background-position: -5400px 0px}
.flair-gamora {background-position: -5500px 0px}
.flair-ghost {background-position: -5600px 0px}
.flair-ghostpanther {background-position: -5700px 0px}
.flair-ghostrider {background-position: -5800px 0px}
.flair-giantman {background-position: -5900px 0px}
.flair-goliath {background-position: -6000px 0px}
.flair-gorgon {background-position: -6100px 0px}
.flair-greengoblin {background-position: -6200px 0px}
.flair-groot {background-position: -6300px 0px}
.flair-gwenpool {background-position: -6400px 0px}
.flair-hawkeye {background-position: -6500px 0px}
.flair-heimdall {background-position: -6600px 0px}
.flair-hela {background-position: -6700px 0px}
.flair-hellcat {background-position: -6800px 0px}
.flair-hellstorm {background-position: -6900px 0px}
.flair-hogun {background-position: -7000px 0px}
.flair-hulk-t2 {background-position: -7100px 0px}
.flair-hulk-t3 {background-position: -7100px -128px}
.flair-hulkbuster {background-position: -7200px 0px}
.flair-hulkling {background-position: -7300px 0px}
.flair-humantorch {background-position: -7400px 0px}
.flair-hyperion {background-position: -7500px 0px}
.flair-inferno {background-position: -7600px 0px}
.flair-invisiblewoman {background-position: -7700px 0px}
.flair-ironfist {background-position: -7800px 0px}
.flair-ironhammer {background-position: -7900px 0px}
.flair-ironheart {background-position: -8000px 0px}
.flair-ironman-t2 {background-position: -8100px 0px}
.flair-ironman-t3 {background-position: -8100px -128px}
.flair-janefoster {background-position: -8200px 0px}
.flair-jeangrey-t2 {background-position: -8300px 0px}
.flair-jeangrey-t3 {background-position: -8300px -128px}
.flair-jessicajones {background-position: -8400px 0px}
.flair-kaecilius {background-position: -8500px 0px}
.flair-msmarvel {background-position: -8600px 0px}
.flair-karnak {background-position: -8700px 0px}
.flair-katebishop {background-position: -8800px 0px}
.flair-kidkaiju {background-position: -8900px 0px}
.flair-erikkillmonger {background-position: -9000px 0px}
.flair-kingpin {background-position: -9100px 0px}
.flair-kraven {background-position: -9200px 0px}
.flair-lash {background-position: -9300px 0px}
.flair-lincoln {background-position: -9400px 0px}
.flair-lizard {background-position: -9500px 0px}
.flair-loki {background-position: -9600px 0px}
.flair-lukecage {background-position: -9700px 0px}
.flair-lunasnow-t2 {background-position: -9800px 0px}
.flair-lunasnow-t3 {background-position: -9800px -128px}
.flair-magik {background-position: -9900px 0px}
.flair-magneto-t2 {background-position: -10000px 0px}
.flair-magneto-t3 {background-position: -10000px -128px}
.flair-malekith {background-position: -10100px 0px}
.flair-mantis {background-position: -10200px 0px}
.flair-maximus {background-position: -10300px 0px}
.flair-medusa {background-position: -10400px 0px}
.flair-milesmorales {background-position: -10500px 0px}
.flair-misterfantastic-t2 {background-position: -10600px 0px}
.flair-misterfantastic-t3 {background-position: -10600px -128px}
.flair-mistyknight {background-position: -10700px 0px}
.flair-mockingbird {background-position: -10800px 0px}
.flair-modok {background-position: -10900px 0px}
.flair-moongirl {background-position: -11000px 0px}
.flair-moonknight {background-position: -11100px 0px}
.flair-morganlefay {background-position: -11200px 0px}
.flair-mysterio {background-position: -11300px 0px}
.flair-nadiavandyne {background-position: -11400px 0px}
.flair-nebula {background-position: -11500px 0px}
.flair-nightcrawler {background-position: -11600px 0px}
.flair-samalexander {background-position: -11700px 0px}
.flair-odin-t2 {background-position: -11800px 0px}
.flair-odin-t3 {background-position: -11800px -128px}
.flair-philcoulson {background-position: -11900px 0px}
.flair-proximamidnight {background-position: -12000px 0px}
.flair-psylocke {background-position: -12100px 0px}
.flair-punisher {background-position: -12200px 0px}
.flair-quasar {background-position: -12300px 0px}
.flair-quicksilver-t2 {background-position: -12400px 0px}
.flair-quicksilver-t3 {background-position: -12400px -128px}
.flair-redhulk {background-position: -12500px 0px}
.flair-redskull {background-position: -12600px 0px}
.flair-rhino {background-position: -12700px 0px}
.flair-robbiereyes {background-position: -12800px 0px}
.flair-rocketraccoon {background-position: -12900px 0px}
.flair-rogue {background-position: -13000px 0px}
.flair-ronan {background-position: -13100px 0px}
.flair-sandman {background-position: -13200px 0px}
.flair-satana {background-position: -13300px 0px}
.flair-scarletwitch-t2 {background-position: -13400px 0px}
.flair-scarletwitch-t3 {background-position: -13400px -128px}
.flair-sentinel {background-position: -13500px 0px}
.flair-shangchi {background-position: -13600px 0px}
.flair-agent13 {background-position: -13700px 0px}
.flair-sharonrogers-t2 {background-position: -13800px 0px}
.flair-sharonrogers-t3 {background-position: -13800px -128px}
.flair-shehulk {background-position: -13900px 0px}
.flair-shuri {background-position: -14000px 0px}
.flair-sif {background-position: -14100px 0px}
.flair-silk {background-position: -14200px 0px}
.flair-sin {background-position: -14300px 0px}
.flair-singularity {background-position: -14400px 0px}
.flair-sistergrimm {background-position: -14500px 0px}
.flair-skurge {background-position: -14600px 0px}
.flair-songbird {background-position: -14700px 0px}
.flair-spidergwen {background-position: -14800px 0px}
.flair-spiderman-t2 {background-position: -14900px 0px}
.flair-spiderman-t3 {background-position: -14900px -128px}
.flair-spiderman2099 {background-position: -15000px 0px}
.flair-squirrelgirl {background-position: -15100px 0px}
.flair-starlord-t2 {background-position: -15200px 0px}
.flair-starlord-t3 {background-position: -15200px -128px}
.flair-storm-t2 {background-position: -15300px 0px}
.flair-storm-t3 {background-position: -15300px -128px}
.flair-stryfe {background-position: -15400px 0px}
.flair-supergiant {background-position: -15500px 0px}
.flair-thanos-t2 {background-position: -15600px 0px}
.flair-thanos-t3 {background-position: -15600px -128px}
.flair-thing {background-position: -15700px 0px}
.flair-thor-t2 {background-position: -15800px 0px}
.flair-thor-t3 {background-position: -15800px -128px}
.flair-titania {background-position: -15900px 0px}
.flair-ulik {background-position: -16000px 0px}
.flair-ultron {background-position: -16100px 0px}
.flair-ulyssesklaue {background-position: -16200px 0px}
.flair-valkyrie {background-position: -16300px 0px}
.flair-venom {background-position: -16400px 0px}
.flair-victorious {background-position: -16500px 0px}
.flair-vision {background-position: -16600px 0px}
.flair-volstagg {background-position: -16700px 0px}
.flair-vulture {background-position: -16800px 0px}
.flair-warmachine {background-position: -16900px 0px}
.flair-warwolf {background-position: -17000px 0px}
.flair-wasp {background-position: -17100px 0px}
.flair-weaponhex {background-position: -17200px 0px}
.flair-whiplash {background-position: -17300px 0px}
.flair-whitefox {background-position: -17400px 0px}
.flair-whitetiger {background-position: -17500px 0px}
.flair-wiccan {background-position: -17600px 0px}
.flair-wintersoldier-t2 {background-position: -17700px 0px}
.flair-wintersoldier-t3 {background-position: -17700px -128px}
.flair-wolverine-t2 {background-position: -17800px 0px}
.flair-wolverine-t3 {background-position: -17800px -128px}
.flair-wong {background-position: -17900px 0px}
.flair-x23 {background-position: -18000px 0px}
.flair-yellowjacket {background-position: -18100px 0px}
.flair-yondu {background-position: -18200px 0px}
.flair-nickfury {background-position: -18300px 0px}
.flair-minnerva {background-position: -18400px 0px}
.flair-minnerva-t3 {background-position: -18400px 0px}
.flair-korath {background-position: -18500px 0px}
.flair-juggernaut {background-position: -18600px 0px}
.flair-warpath {background-position: -18700px 0px}
.flair-sabretooth {background-position: -18800px 0px}
.flair-rescue {background-position: -18900px 0px}
.flair-jubilee {background-position: -19000px 0px}
.flair-iceman {background-position: -19100px 0px}
.flair-bishop {background-position: -19200px 0px}
.flair-moltenman {background-position: -19300px 0px}
.flair-hydroman {background-position: -19400px 0px}
.flair-electro {background-position: -19500px 0px}
.flair-namor-t2 {background-position: -19600px 0px}
.flair-namor-t3 {background-position: -19600px -128px}
.flair-wave {background-position: -19700px 0px}
.flair-silversurfer-t2 {background-position: -19800px 0px}
.flair-silversurfer-t3 {background-position: -19800px -128px}
.flair-rachelsummers {background-position: -19900px 0px}
.flair-kittypryde {background-position: -20000px 0px}
.flair-kidomega {background-position: -20100px 0px}
.flair-aero {background-position: -20200px 0px}
.flair-doctorvoodoo {background-position: -20300px 0px}
.flair-swordmaster {background-position: -20400px 0px}
.flair-slapstick {background-position: -20500px 0px}
.flair-gorilla {background-position: -20600px 0px}
.flair-negasonic {background-position: -20700px 0px}
.flair-bluedragon {background-position: -20800px 0px}
.flair-sunbird {background-position: -20900px 0px}
.flair-shadowshell {background-position: -21000px 0px}
.flair-wartiger {background-position: -21100px 0px}
.flair-baronzemo {background-position: -21200px 0px}
.flair-taskmaster {background-position: -21300px 0px}
.flair-viper {background-position: -21400px 0px}
.flair-professorx-t2 {background-position: -21500px 0px}
.flair-professorx-t3 {background-position: -21500px -128px}
.flair-mystique-t2 {background-position: -21600px 0px}
.flair-mystique-t3 {background-position: -21600px 0px}
.flair-mistersinister {background-position: -21700px 0px}
.flair-redguardian {background-position: -21800px 0px}
.flair-yelenabelova {background-position: -21900px 0px}
.flair-betaraybill {background-position: -22000px 0px}
.flair-darkhawk {background-position: -22100px 0px}
.flair-gladiator {background-position: -22200px 0px}
.flair-richardrider {background-position: -22300px 0px}
.flair-phylavell {background-position: -22400px 0px}
.flair-abomination {background-position: -22500px 0px}
.flair-redshehulk {background-position: -22600px 0px}
.flair-thane {background-position: -22700px 0px}
.flair-dazzler {background-position: -22800px 0px}





.flair-tierlist {background-image:url(../images/flairs.jpg)!important; transform: scale(0.36);}
